{% extends "base.html" %}

{% block main %}

<div class="row results">
    <div class="large-12 columns ">
        <div class="row">
            <div class="has-form">
                <div class="row collapse">
                    <div class="large-9 float-left">
                        <input type="text" placeholder="Find Stuff"  data-toggle-focus="form-callout" >
                    </div>
                    <div class="large-3 float-right">
                        <a href="#" class="button expand">Search</a>
                    </div>
                </div>
                <div class="secondary callout is-hidden" id="form-callout" data-toggler="is-hidden">
                    <span class="warning small button">Action</span>
                    <span class="alert large button">Comedy</span>
                    <span class="secondary button">Fantasy</span>
                    <span class="success tiny button">History</span>
                    <p>here are tags </p>
                </div>
            </div>

            <div class="large-9 columns">
                <p> Search Results for "Action": 27</p>
            </div>
            <div class=" large-3 columns ">
                <select name="sortOptions">
                    <option value="sortby">Sort By</option>
                    <option value="cats">Cats</option>
                    <option value="title">Title</option>
                    <option value="author">Author</option>
                    <option value="mrecats">More Cats</option>
                </select>
            </div>
        </div>

        <article class="website-example row wide">
            <div class="large-6 columns">
                <div class="row">
                    <div class="small-8 columns">
                        <img src="http://placeimg.com/400/400/people" alt="Mini Cooper Site Desktop Image">
                    </div>
                    <div class="small-4 columns">
                        <img src="http://placeimg.com/46/46/people" alt="Mini Cooper Site Mobile Image">
                    </div>
                </div>
            </div>
            <div class="large-6 columns">
                <h3>Mini Cooper</h3>
                <h6>built with foundation</h6>
                <p>There’s nothing small about the effects on this “Mini” website and its use of scrolling as a fly-around of its eponymous car. The parallax steps aside on mobile for a neat intuitive image layout. The hamburger menu spins into action when clicked revealing a gorgeous dropdown.</p>
                <a class="button" href="http://5-door.mini.com.au/">Take a Closer Look »</a>
            </div>
        </article>
        <article class="website-example row wide">
            <div class="large-6 columns">
                <div class="row">
                    <div class="small-8 columns">
                        <img src="http://placeimg.com/400/400/people" alt="Barclays Site Desktop Image">
                    </div>
                    <div class="small-4 columns">
                        <img src="http://placeimg.com/46/46/people" alt="Barclays Site Mobile Image">
                    </div>
                </div>
            </div>
            <div class="large-6 columns">
                <h3>Barclay's</h3>
                <h6>built with foundation</h6>
                <p>Many investment companies are moving towards responsive designs, but Barclay’s looks exceptionally well on smartphones, tablets, laptops and desktop computers. The site uses many smart techniques to get users where they need to go on a small device. They employ a multi-level off-canvas and in-section navigation to achieve a good user flow.</p>
                <a class="button" href="http://www.barclays.com">Take a Closer Look »</a>
            </div>
        </article>
        <article class="website-example row wide">
            <div class="large-6 columns">
                <div class="row">
                    <div class="small-8 columns">
                        <img src="http://zurb.com/responsive/system/upload/desktop_screenshots/images/000/000/790/regular/starwars.com_3Anews-wide.jpg?1416007082" alt="Star Wars Site Desktop Image">
                    </div>
                    <div class="small-4 columns">
                        <img src="http://zurb.com/responsive/system/upload/mobile_screenshots/images/000/000/791/regular/starwars.com_3Anews-narrow.jpg?1416007084" alt="Star Wars Site Mobile">
                    </div>
                </div>
            </div>
            <div class="large-6 columns">
                <h3>Star Wars News</h3>
                <h6>built with foundation</h6>
                <p>The Star Wars blog is built on a solid foundation of responsive design, satisfying fans craving news of the upcoming movie no matter what size device they use. On mobile a light sabre hamburger menu morphs and crosses when tapped. The off-canvas menu reveals the icon-bar that was visible on desktop.</p>
                <a class="button" href="http://starwars.com/news">Take a Closer Look »</a>
            </div>
        </article>

        <a href="#" class="button right"> show more results &raquo;</a>
    </div>
</div>

{% endblock %}
