{% extends "base.html" %}

{% block main %}

<div class="content">
    <h4>Description</h4>

    <div class="row ">
        <div class="large-4 columns">
            <a href="#"> <span> </span><img src="http://placehold.it/300x400" alt="book cover" class=" thumbnail"></a>
        </div>
        <div class="large-8 columns">
            <div class="row">
                <div class=" large-9 columns">
                    <h2>Friends</h2>

                    <h5><a href="#">Consectetuer adipiscing elit. Nam pede erat, porta eu, lobortis eget, tempus et, tellus. Etiam neque. Vivamus consequat lorem at nisl. Nullam non wisi a sem semper eleifend. Etiam non felis. Donec ut ante. </a></h5>
                </div>
                <!--div class=" large-3 columns">
                    <a href="#"  class="button  expand medium"><span>Open Book</span> </a>
                    <a href="#"  class="button  expand medium"><span>Add to List</span></a>
                </div-->
                <div class="row">
                    <div class=" large-6 columns">
                        <ul class="large-block-grid-2">
                            <li>
                                <ul>
                                    <li><strong>Author: </strong>John Doe</li>
                                    <li><strong>Published:</strong> 2008</li>
                                    <li><strong>More info:</strong> Lorem ipsum</li>
                                    <li><strong>More cat stuff: </strong> cats cats cats</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                    <div class=" large-6 columns">
                        <ul class="large-block-grid-2">
                            <li>
                                <ul>
                                    <li><strong>Wow cats:</strong> so wow</li>
                                    <li><strong>Lorem cats:</strong> ipsum kitty</li>
                                    <li><strong>Series:</strong> all the cats</li>
                                </ul>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <hr>
    </div>
</div>

<div class="content">
    <article class="article">
        <img alt="person" class="author" src="http://placeimg.com/46/46/people">
        <p class="subheader">By <a href="#">Jarvis Hendrix</a> under <a href="#">
            <span class="label">Twitter</span></a> <a href="#"><span class="alert label">Like</span></a></p>
        <p>So, why should you waste hours looking at other people's crappy code when you can be spending this time writing awesome code of your own?</p>
        <a href="#" class="ghost button">Comment &rarrlp;</a>
    </article>
</div>


{% endblock %}
